<h1>Trials#new</h1>
<%= form_for [@examination, @trial] do |f| %>
  <%= f.fields_for :results do |result_form| %>
    <%= result_form.label :answer, result_form.object.text %>
    <%= result_form.radio_button :answer, 1 %> <%= result_form.label :answer_1, '×' %>
    <%= result_form.radio_button :answer, 2 %> <%= result_form.label :answer_2, '○' %>
    <br>
  <% end %>
  <%= f.submit %>
<% end %>
